pre {
  margin: 0;
}
#logo {
  height: 50px;
}
#logo:hover {
  filter: drop-shadow(0px 2px 0.1px rgba(0, 0, 0, 0.1));
}
#container {
  margin: 2em;
}
#screen-wrapper {
  box-sizing: border-box;
  height: 75vh;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 1em;
  border-style: solid;
  border-color: grey;
  border-radius: 3px;
  border-width: 1px;
  background-color: #F5F5DC;
}
#welcome-screen {
  width: 68%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}
#welcome-title {
  font-size: 1.5em;
  font-weight: normal;
}
#screen {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.5em;
}
li {
  list-style-type: none;
}
.entry {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  word-break: break-all;
  white-space: break-spaces;
}
#input-container {
  display: flex;
	justify-content: flex-start;
}
.input-element {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  background: #F5F5DC;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: solid;
  border-color: grey;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin: 0;
}
#prompt {
  padding-left: 1em;
  padding-right: 0.5em;
  border-radius: 3px 0 0 3px;
  border-left-width: 1px;
}
#input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 1em;
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
  word-break: break-all;
  white-space: break-spaces;
  caret-color: black;
}
#input:focus {
  outline: 0;
}
@media (min-width: 900px) {
  #welcome-screen {
    width: 500px;
  }
  #container {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
