html {
    font-size: 62.5%;
}
body {
    font-size: 1.5em;
    font-family: IBMPlexSans;
    background: #FAFBFA;
}
.outer-frame {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}
.inner-frame {
    display: table-cell;
    vertical-align: middle;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 0;
}
.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    text-align: center;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
#logo {
    width: 100px;
}
#logo:hover {
    filter: drop-shadow(0px 2px 0.5px rgba(0, 0, 0, 0.45));
}
.title {
    font-weight: bold;
    font-size: 3.1em;
    line-height: 1.2;
    letter-spacing: -.1rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
.subtitle {
    font-weight: normal;
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 0;
}
.button {
    text-decoration: none;
    color: black;
    border-color: grey;
    border-style: solid;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    background: #F5F5DC;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 5px 8px 40px #EEEEEE;
}
.button:hover {
    color: black;
    border-color: black;
    border-width: 1px;
    background: #F2F2CF;
    box-shadow: none;
}
.button-column {
    margin-top: 1em;
    margin-bottom: 1em;
}
footer {
    text-align: center;
    color: #BFBFBF;
}
.footer-link {
    color: #BFBFBF;
    text-decoration: none;
}
.footer-link:hover {
    color: #A0A0A0;
    text-decoration: underline;
}
@media (min-width: 550px) {
    .container {
        width: 450px; 
    }
    .column {
        margin-left: 4%;
    }
    .column:first-child {
        margin-left: 0;
    }
    .small.column {
        width: 4.66666666667%;
    }
    .medium.column {
        width: 22%;
    }
    .large.column {
        width: 30.6666666667%;
    }
    #logo {
        width: 155px;
    }
    .subtitle {
        margin-bottom: 2.5rem;
    }
    .button-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
}
