body {
  font-family: FiraGo;
}
code {
  padding: .1rem .3rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-family: FiraMono;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
hr {
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.blank {
  color: auto;
  text-decoration: none;
}
.flex-center {
  display: flex;
  align-items: center;
}

#header {
  position: sticky;
  top: 0;
}
#header-box {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 16vw;
  padding-right: 16vw;
  background: #FFFFFF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #D0D0D0;
}
#header-icon {
  height: 42px;
}
#header-icon:hover {
  filter: invert(30%);
}
#header-title {
  margin-left: 2em;
}

div > .menu-button {
  margin-left: 1.2em;
  padding-bottom: 0.02em;
  border-bottom-width: 2px;
  color: black;
  text-decoration: none;
}
.menu-button:hover {
  color: blue;
  border-bottom-style: solid;
}

.container {
  margin-left: 16vw;
  margin-right: 16vw;
  margin-top: 2em;
}

#footer {
  text-align: center;
  color: #BFBFBF;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 16vw;
  margin-right: 16vw;
}
.footer-link {
  color: #BFBFBF;
  text-decoration: none;
}
.footer-link:hover {
  color: #A0A0A0;
  text-decoration: underline;
}
#footer-icon {
  height: 30px;
  filter: invert(50%);
}
#footer-icon:hover {
  filter: invert(30%);
}
.footer-flex {
  justify-content: center;
  column-gap: 1em;
  margin-top: 0.85em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

